@using Visitor.Reg.Entity.Models;
@{

    List<TUSERModel> list = ViewBag.Users as List<TUSERModel>;
}

<div class="row" style="margin:0 0; padding:5px 5px;">
    @{
        if (list.Count > 0)
        {
            int i = 1;
            foreach (var user in list)
            {

                <div class="col-md-4">
                    <div class="box box-widget widget-user">
                        <div class="widget-user-header bg-aqua-active">
                            <h3 class="widget-user-username">@user.FULLNAME</h3>
                            <h5 class="widget-user-desc">@user.DESCRIPTION</h5>
                        </div>
                        <div class="widget-user-image">
                            <img class="img-circle" src="~/AdminLTE/dist/img/user.svg" alt="User Avatar">
                        </div>
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header"></h5>
                                        <span class="description-text">@user.PHONE - @user.EXTNO</span>
                                    </div>
                                </div>
                                <div class="col-sm-4 border-right">
                                    <div class="description-block">
                                        <h5 class="description-header"></h5>
                                        <span class="description-text">@user.EMAIL</span>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="description-block">
                                        <h5 class="description-header"></h5>
                                        <span class="description-text">@user.LOCATION</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                if (i % 3 == 0)
                {
                    @Html.Raw("</div>");
                    @Html.Raw("<div class='row' style='margin: 0 0; padding: 5px 5px; '>");
                }
                i++;
            }
        }
        else
        {
                <div class="col-md-8">
                    @Html.Raw("No records.")
                </div>
        }
    }

</div>